.reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-container .average-rating__container {
  margin-top: 3vh;
  border: 2px solid #cccaca;
  width: 60vw;
  border-radius: 10px;
  margin-left: 5vw;
}

.reviews-container .average-rating__container h1 {
  text-align: center;
  border-bottom: 2px solid #cccaca;
  margin: 0;
  height: 13vh;
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-container .average-rating__container h1:first-of-type {
  font-size: 42px;
}

.reviews-container .average-rating__container .average-rating {
  border-bottom: 2px solid #cccaca;
  background-color: #e9e9e9;
  height: 23vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-container .average-rating__container .average-rating .headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-container .average-rating__container .average-rating .headings h1 {
  border: none;
  font-size: 2.4rem;
}

.reviews-container .average-rating__container .average-rating .headings h3 {
  text-align: center;
  width: 50%;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-container .average-rating__container .average-rating .stars {
  display: block;
  font-size: 2rem;
}

.reviews-container .average-rating__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding: 2vh 0;
}

.reviews-container .average-rating__button-container button {
  width: auto;
  padding: 0 20px;
}

.reviews-container .reviews .load-button__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: none;
}

.reviews-container .reviews-sidebar {
  margin-left: 5vw;
  border: 2px solid #cccaca;
  width: 26vw;
  border-radius: 20px;
  margin-top: 3vh;
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
  height: 100%;
}

.reviews-container .reviews-sidebar .reviews-sidebar__header {
  background-color: #e9e9e9;
  border-radius: 20px;
  border: 2px solid #cccaca;
  width: 101%;
  height: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-container .reviews-sidebar .reviews-sidebar__header h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 8vh;
  margin-left: 2vw;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.reviews-container .reviews-sidebar .search-container {
  margin-top: 2vh;
  height: 10vh;
  width: 90%;
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-container .reviews-sidebar .search-container .cross {
  position: relative;
  left: 0;
  top: 0;
  width: 10%;
  height: 100% !important;
  cursor: pointer;
  background-color: transparent;
  border-radius: 20px;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: #ccc;
  border: 0;
}

.reviews-container .reviews-sidebar .search-container .cross i {
  font-weight: 300;
  color: #ccc;
}

.reviews-container .reviews-sidebar .search-container .cross i:hover {
  color: darkgray;
}

.reviews-container .reviews-sidebar .search-container form {
  width: 110%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 80px;
  padding-left: 1vw;
  border: 2px solid #cccaca;
}

.reviews-container .reviews-sidebar .search-container form .search-bar {
  width: 100%;
  height: 98%;
  border-radius: 80px;
  border: 0;
  color: black;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  outline: none;
}

.reviews-container .reviews-sidebar .sort-by {
  border: 2px solid black;
  margin-top: 6vh;
  height: 10vh;
  width: 90%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-left: 1vw;
}

.reviews-container .reviews-sidebar .sort-by option {
  font-weight: bold;
  color: black;
}

.reviews-container .reviews-sidebar select:invalid {
  color: #9d9999;
  border: 2px solid #cccaca;
}

.reviews-container .reviews-sidebar ::-webkit-input-placeholder {
  color: #9d9999;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.reviews-container .reviews-sidebar :-ms-input-placeholder {
  color: #9d9999;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.reviews-container .reviews-sidebar ::-ms-input-placeholder {
  color: #9d9999;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.reviews-container .reviews-sidebar ::placeholder {
  color: #9d9999;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.reviews-container .reviews-sidebar .filter-by__rating {
  width: 90%;
  margin-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.reviews-container .reviews-sidebar .filter-by__rating h1 {
  margin: 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.reviews-container .reviews-sidebar .filter-by__rating .filter-by__rating-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-top: 2vh;
}

.reviews-container .reviews-sidebar .filter-by__rating .filter-by__rating-rating .stars {
  cursor: pointer;
}

.reviews-container .reviews-sidebar .filter-by__rating .filter-by__rating-rating .cross {
  position: relative;
  left: 0;
  top: 0;
  width: 10%;
  height: 100% !important;
  cursor: pointer;
  background-color: transparent;
  border-radius: 20px;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: #ccc;
  border: 0;
}

.reviews-container .reviews-sidebar .filter-by__rating .filter-by__rating-rating .cross i {
  font-weight: 300;
  color: #ccc;
}

.reviews-container .reviews-sidebar .filter-by__rating .filter-by__rating-rating .cross i:hover {
  color: darkgray;
}

.checked {
  color: orange;
}

@media (max-width: 900px) {
  .reviews-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .reviews-container .reviews-sidebar {
    position: relative;
    width: 90vw;
    height: auto;
  }
  .reviews-container .reviews-sidebar .reviews-sidebar__header h3 {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews-container .reviews-sidebar .filter-by__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4vh;
  }
  .reviews-container .average-rating__container {
    width: 90vw;
    margin-bottom: 4vh;
  }
  .filter-by__rating-rating .cross {
    margin-left: 10px;
  }
}

@media (max-width: 550px) {
  .average-rating__container .headings h3 {
    width: 13vw;
  }
}

@media (max-width: 500px) {
  body .average-rating__container {
    height: auto;
  }
  body .average-rating__container .average-rating__container-header {
    font-size: 8vw !important;
    padding: 2vh 0;
    height: auto;
  }
  body .average-rating__container #average-rating {
    height: inherit;
    padding: 2vh 0;
  }
  body .average-rating__container #average-rating .headings {
    height: inherit;
  }
  body .average-rating__container #average-rating .headings h1 {
    font-size: 8vw;
    height: auto;
  }
  body .average-rating__container #average-rating .headings h3 {
    font-size: 4vw;
    height: inherit;
  }
  body .average-rating__container #average-rating .stars {
    font-size: 8vw;
  }
  body .average-rating__container .average-rating__button-container {
    height: auto;
  }
  body .average-rating__container .average-rating__button-container button {
    height: inherit;
    padding: 1vh 0;
    margin: 2vh 0;
    width: 70%;
    font-size: 7vw;
  }
  body .average-rating__container .reviews .rating {
    text-align: center;
  }
  body .average-rating__container .reviews .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  body .average-rating__container .reviews .review-description {
    text-align: center;
  }
  body .reviews-sidebar {
    height: auto;
  }
  body .reviews-sidebar .reviews-sidebar__header {
    height: inherit;
  }
  body .reviews-sidebar .reviews-sidebar__header h3 {
    font-size: 8vw;
  }
  body .reviews-sidebar .search-container {
    height: 7vh;
  }
  body .reviews-sidebar .sort-by {
    height: 7vh;
    margin-top: 2vh;
  }
}

@media (max-height: 500px) {
  body #average-rating {
    height: 35vh;
  }
  .average-rating__container-header {
    padding: 3vh 0;
  }
  body .reviews-sidebar {
    height: 20vh;
  }
  .reviews-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .reviews-container .reviews-sidebar {
    position: relative;
    width: 90vw;
    height: auto;
  }
  .reviews-container .reviews-sidebar .search-container {
    height: 15vh;
  }
  .reviews-container .reviews-sidebar .sort-by {
    height: 15vh;
  }
  .reviews-container .reviews-sidebar .reviews-sidebar__header h3 {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews-container .reviews-sidebar .filter-by__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4vh;
  }
  .reviews-container .average-rating__container {
    width: 90vw;
    margin-bottom: 4vh;
  }
}
/*# sourceMappingURL=Reviews.css.map */