.contact-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  .contact-form-content {
    display: flex;
    flex-flow: row;
    width: 100%;
  }
  h1 {
    margin-top: 4.87062404870624vh;
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 0;
    text-align: center;
  }
  h3 {
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 0;
  }
  form {
    width: 40%;
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    margin-left: 4.418740849194728vw;
    margin-bottom: 10.95890410958904vh;
    margin-top: 8.52359208523592vh;
    input {
      background-color: transparent;
      color: black;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      border: 2px solid #ccc;
      height: 66px;
      width: 326px;
      margin-right: 32px;
      padding-left: 15px;
    }
    #name {
      width: 48vw;
      padding: 0;
      margin: 0;
      padding-left: 15px;
    }
    #email {
      width: 48vw;
      padding: 0;
      margin: 0;
      padding-left: 15px;
      margin-top: 4.26179604261796vh;
    }
    #subject {
      width: 48vw;
      padding: 0;
      margin: 0;
      padding-left: 15px;
      margin-top: 4.26179604261796vh;
    }
    #message {
      width: 48vw !important;
      height: 22.98325722983257vh !important;
      padding-left: 15px;
      margin-top: 4.26179604261796vh;
      padding-top: 2vh;
      color: black;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      border: 2px solid #ccc;
    }
    input:focus {
      box-shadow: 2px 2px 20px black;
    }
    #message:focus {
      box-shadow: 2px 2px 20px black;
    }
    button {
      width: 49.5vw;
      grid-column: 1 / 6;
      margin-top: 5.6316590563165905vh;
      height: 11.719939117199392vh;
      border-radius: 0;
    }
    ::placeholder {
      color: #9d9999;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
    }
  }
  .contact-details {
    width: 40%;
    height: 75vh;
    margin-left: 3vw;
    margin-top: 8.5vh;
    background-color: black;
    color: white;
    h1 {
      text-align: center;
    }
    i {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div:first-of-type {
      margin-top: 1vh;
    }
    div {
      display: flex;
      flex-flow: row;
      margin-top: 3vh;
      i {
        margin-left: 36px;
        margin-top: 2vh;
        width: 30px;
        font-size: 25px;
        text-align: center;
      }
      p {
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
      }
      div {
        display: flex;
        flex-flow: column;
        p {
          margin: 0;
          margin-top: 1vh;
          margin-left: 13px;
        }
      }
    }
  }
}

.display-none {
  display: none;
}

.restaurant-map {
  h1 {
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden !important;
  }
  .contact-form {
    .contact-form-content {
      flex-flow: column;
      align-items: center;
      .contact-details {
        margin: 0;
      }
    }
    form {
      width: auto !important;
      input {
        width: 80vw !important;
      }
      #message {
        width: 80vw !important;
      }
      button {
        height: auto !important;
        width: 80vw;
      }
    }
  }
  .contact-details {
    margin-bottom: 4vh !important;
    width: 80vw !important;
    height: auto !important;
    padding-bottom: 6vh;
    div {
      width: 80vw !important;
      margin-right: 0 !important;
      div {
        width: 80vw !important;
        p {
          width: 80vw !important;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .contact-details {
    width: 95vw !important;
    div {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
  .testimonial {
    h3 {
      text-align: center;
    }
  }
  .testimonials {
    h1 {
      text-align: center;
      font-size: 3.5rem;
    }
  }
}

@media (max-height: 500px) {
  #message {
    height: auto !important;
  }
  .restaurant-map {
    h1 {
      padding: 3vh 0;
    }
  }
}
