.review:first-of-type {
  border-top: 2px solid #cccaca;
}
.review {
  height: auto;
  border-bottom: 2px solid #cccaca;
  padding-left: 3vw;
  padding-top: 4vh;
  padding-bottom: 3vh;
  button {
    width: 140px;
    height: 45px;
    text-align: center;
    font-size: 26px;
  }
  button:first-of-type {
    margin-right: 10px;
  }
  .rating {
    .fa-star {
      font-size: 20px;
    }
    .rating-text {
      margin-left: 2vw;
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      font-weight: lighter;
    }
  }
  .user {
    margin-top: 2vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    .profilePic {
      height: 50px;
      width: 50px;
      border-radius: 30px;
      background-size: cover;
    }
    .user-name {
      margin-left: 0;
      font-size: 20px;
      font-family: "Oswald", sans-serif;
    }
    .user-posted__at {
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      font-weight: lighter;
      color: #bcbcbc;
    }
  }
  .review-description {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-top: 3vh;
    margin-right: 3vw;
    p {
      word-break: break-all;
    }
  }
}
