.button {
  border: none;
  background-color: #302db2;
  color: white;
  height: 62px;
  width: 223px;
  font-family: "Oswald", sans-serif;
  font-size: 33px;
  border-radius: 60px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #4f4dd6;
}
